.search-item {
  padding: 5px 0;
  &:hover {
    background-color: #EAEAEA;
  }
  .search-item-link {
    &:hover {
      color: #0b0b0b;
    }
    .search-item-img {
      float: left;
      margin: 0 10px 0 0;
      max-height: 25px;
      max-width: 25px;
    }
  }
}